** Import Modules **

In [2]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [3]:
import pandas_datareader as pdr
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

#### Step 1: Collect Data

*1a: Choose assets/equities*

We've chosen the following for this project:
* AAPL: Apple Inc. 
* AMZN: Amazon.com, Inc. 
* IAU: iShares Gold Trust
* IYZ: iShares US Telecommunications
* TAO: Guggenheim China Real Estate ETF
* SPY: SPDR S&P 500 ETF Trust (perfectly aligned with and therefore used as a proxy for S&P 500, whose historical data is not provided on Google Finance in a downloadble csv format. As a result, we were not able to access S&P 500's data using get_data_google, which works only when this precondition is met)

Note: Since Yahoo iChart is down and the get_data_google function is limited, we had to pivot to some less exciting equities

*1b & 1c: Import data and display head/length*

In [4]:
start_date = dt.datetime(2016,1,1)
end_date = dt.datetime(2016,12,31)

In [5]:
df_ap = pdr.get_data_google('AAPL', start_date, end_date)
df_amz = pdr.get_data_google('AMZN', start_date, end_date)
df_gd = pdr.get_data_google('IAU', start_date, end_date)
df_com = pdr.get_data_google('IYZ', start_date, end_date)
df_tao = pdr.get_data_google('TAO', start_date, end_date)
df_sp = pdr.get_data_google('SPY', start_date, end_date)

Display top 5 rows

In [6]:
df_ap.head(n=5)

              Open    High     Low   Close    Volume
Date
2016-01-04  102.61  105.37  102.00  105.35  67281190
2016-01-05  105.75  105.85  102.41  102.71  55790992
2016-01-06  100.56  102.37   99.87  100.70  68457388
2016-01-07   98.68  100.13   96.43   96.45  81094428
2016-01-08   98.55   99.11   96.76   96.96  70798016

In [7]:
df_amz.head(n=5)

              Open    High     Low   Close   Volume
Date
2016-01-04  656.29  657.72  627.51  636.99  9280761
2016-01-05  646.86  646.91  627.65  633.79  5822603
2016-01-06  622.00  639.79  620.31  632.65  5329197
2016-01-07  621.80  630.00  605.21  607.94  7074915
2016-01-08  619.66  624.14  606.00  607.05  5512915

In [8]:
df_gd.head(n=5)

             Open   High    Low  Close    Volume
Date
2016-01-04  10.40  10.46  10.34  10.38   3406604
2016-01-05  10.40  10.44  10.38  10.40   5016681
2016-01-06  10.53  10.57  10.48  10.57  21263881
2016-01-07  10.67  10.72  10.62  10.72  31374705
2016-01-08  10.64  10.68  10.60  10.66   6116052

In [9]:
df_com.head(n=5)

             Open   High    Low  Close   Volume
Date
2016-01-04  28.45  28.47  28.02  28.14  3409797
2016-01-05  28.28  28.42  28.03  28.38   494286
2016-01-06  28.06  28.39  27.98  28.14   292235
2016-01-07  27.70  27.90  27.40  27.43   406008
2016-01-08  27.62  27.87  27.15  27.19   349974

In [10]:
df_tao.head(n=5)

             Open   High    Low  Close  Volume
Date
2016-01-04  19.36  19.45  19.00  19.38   22079
2016-01-05  19.44  19.44  19.35  19.35    1739
2016-01-06  19.13  19.13  19.04  19.12    1376
2016-01-07  18.86  18.86  18.62  18.62    2135
2016-01-08  18.51  18.51  18.25  18.25    3254

In [11]:
df_sp.head(n=5)

              Open    High     Low   Close     Volume
Date
2016-01-04  200.49  201.03  198.59  201.02  218722198
2016-01-05  201.40  201.90  200.05  201.36  110845849
2016-01-06  198.34  200.06  197.60  198.82  152112604
2016-01-07  195.33  197.44  193.59  194.05  213436073
2016-01-08  195.19  195.85  191.58  191.92  209817228

Display count

In [12]:
df_ap_nrow = len(df_ap.axes[0])
df_ap_ncol = len(df_ap.axes[1])

In [13]:
df_amz_nrow = len(df_amz.axes[0])
df_amz_ncol = len(df_amz.axes[1])

In [14]:
df_gd_nrow = len(df_gd.axes[0])
df_gd_ncol = len(df_gd.axes[1])

In [15]:
df_com_nrow = len(df_com.axes[0])
df_com_ncol = len(df_com.axes[1])

In [16]:
df_tao_nrow = len(df_tao.axes[0])
df_tao_ncol = len(df_tao.axes[1])

In [17]:
df_sp_nrow = len(df_sp.axes[0])
df_sp_ncol = len(df_sp.axes[1])

In [19]:
print('The Apple Inc. dataframe has', df_ap_nrow, 'rows and', df_ap_ncol, 'columns.')

The Apple Inc. dataframe has 252 rows and 5 columns.

In [20]:
print('The Amazon.com, Inc. dataframe has', df_amz_nrow, 'rows and', df_amz_ncol, 'columns.')

The Amazon.com, Inc. dataframe has 252 rows and 5 columns.

In [21]:
print('The iShares Gold Trust dataframe has', df_gd_nrow, 'rows and', df_gd_ncol, 'columns.')

The iShares Gold Trust dataframe has 252 rows and 5 columns.

In [20]:
print('The iShares US Telecommunications dataframe has', df_com_nrow, 'rows and', df_com_ncol, 'columns.')

The iShares US Telecommunications dataframe has 252 rows and 5 columns.

In [22]:
print('The Guggenheim China Real Estate ETF dataframe has', df_tao_nrow, 'rows and', df_tao_ncol, 'columns.')

The Guggenheim China Real Estate ETF dataframe has 252 rows and 5 columns.

In [23]:
print('The SPDR S&P 500 ETF Trust dataframe has', df_sp_nrow, 'rows and', df_sp_ncol, 'columns.')

The SPDR S&P 500 ETF Trust dataframe has 252 rows and 5 columns.

#### Step 2: Process Data

*2a: Calculate daily returns*

In [24]:
df_all = pd.DataFrame({'^SPY': df_sp['Close'],
                       'AMZN': df_amz['Close'],
                       'IAU': df_gd['Close'],
                       'TAO': df_tao['Close'],
                       'AAPL': df_ap['Close'],
                       'IYZ': df_com['Close']})

In [25]:
df_return = df_all.pct_change()

In [26]:
df_return.head(n=5)

                AAPL      AMZN       IAU       IYZ       TAO      ^SPY
Date
2016-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2016-01-05 -0.025059 -0.005024  0.001927  0.008529 -0.001548  0.001691
2016-01-06 -0.019570 -0.001799  0.016346 -0.008457 -0.011886 -0.012614
2016-01-07 -0.042205 -0.039058  0.014191 -0.025231 -0.026151 -0.023992
2016-01-08  0.005288 -0.001464 -0.005597 -0.008750 -0.019871 -0.010977

In [27]:
df_return_nrow = len(df_return.axes[0])
df_return_ncol = len(df_return.axes[1])

In [28]:
print('The daily return dataframe has', df_return_nrow, 'rows and', df_return_ncol, 'columns.')

The daily return dataframe has 252 rows and 6 columns.

*2b: Plot daily returns*

In [29]:
%matplotlib

Using matplotlib backend: MacOSX

In [30]:
tk_labels = [d.strftime('%b-%d') for d in df_return.index.to_pydatetime()]

In [31]:
ax_AAPL = df_return.plot(y='AAPL', kind='bar', color='silver')
tk_locs = ax_AAPL.xaxis.get_ticklocs()
ticks = ax_AAPL.set_xticks(tk_locs[::10])
labels = ax_AAPL.set_xticklabels(tk_labels[::10], rotation=30)
title = ax_AAPL.set_title('Apple Inc. Year 2016 Daily Returns', 
                          fontsize=14, fontweight='bold', color='navy')

In [32]:
ax_AMZN = df_return.plot(y='AMZN', kind='bar', color='orange')
ticks = ax_AMZN.set_xticks(tk_locs[::10])
labels = ax_AMZN.set_xticklabels(tk_labels[::10], rotation=30)
title = ax_AMZN.set_title('Amazon.com, Inc. Year 2016 Daily Returns', 
                          fontsize=14, fontweight='bold', color='navy')

In [33]:
ax_IAU = df_return.plot(y='IAU', kind='bar', color='gold')
ticks = ax_IAU.set_xticks(tk_locs[::10])
labels = ax_IAU.set_xticklabels(tk_labels[::10], rotation=30)
title = ax_IAU.set_title('iShares Gold Trust Year 2016 Daily Returns', 
                         fontsize=14, fontweight='bold', color='navy')

In [34]:
ax_IYZ = df_return.plot(y='IYZ', kind='bar', color='steelblue')
ticks = ax_IYZ.set_xticks(tk_locs[::10])
labels = ax_IYZ.set_xticklabels(tk_labels[::10], rotation=30)
title = ax_IYZ.set_title('iShares US Telecom Year 2016 Daily Returns', 
                         fontsize=14, fontweight='bold', color='navy')

In [35]:
ax_TAO = df_return.plot(y='TAO', kind='bar', color='olivedrab')
ticks = ax_TAO.set_xticks(tk_locs[::10])
labels = ax_TAO.set_xticklabels(tk_labels[::10], rotation=30)
title = ax_TAO.set_title('Guggenheim China Real Estate Year 2016 Daily Returns', 
                         fontsize=14, fontweight='bold', color='navy')

In [36]:
ax_SPY = df_return.plot(y='^SPY', kind='bar', color='lightcoral')
ticks = ax_SPY.set_xticks(tk_locs[::10])
labels = ax_SPY.set_xticklabels(tk_labels[::10], rotation=30)
title = ax_SPY.set_title('SPDR S&P 500 ETF Trust Year 2016 Daily Returns', 
                         fontsize=14, fontweight='bold', color='navy')

*2c: Calculate summary statistics*

In [37]:
df_stats = df_return.describe().reindex(['min','max','std','mean'])

In [39]:
df_stats.ix['var'] = df_stats.ix['std']*df_stats.ix['std']

In [41]:
df_stats

          AAPL      AMZN       IAU       IYZ       TAO      ^SPY
min  -0.065707 -0.076100 -0.033175 -0.035168 -0.040000 -0.036431
max   0.064963  0.095664  0.049505  0.045045  0.031710  0.024619
std   0.014751  0.018383  0.010291  0.012158  0.012140  0.008262
mean  0.000486  0.000818  0.000313  0.000886  0.000108  0.000457
var   0.000218  0.000338  0.000106  0.000148  0.000147  0.000068

#### Step 3: Regression Analysis

*3a: Perform linear regression on each of the five assets against S&P 500*

In [42]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [43]:
ap = df_return['AAPL'][1:].values.reshape(-1,1)
amz = df_return['AMZN'][1:].values.reshape(-1,1)
gd = df_return['IAU'][1:].values.reshape(-1,1)
com = df_return['IYZ'][1:].values.reshape(-1,1)
tao = df_return['TAO'][1:].values.reshape(-1,1)
sp = df_return['^SPY'][1:].values.reshape(-1,1)

In [44]:
reg_ap = linear_model.LinearRegression()
reg_amz = linear_model.LinearRegression()
reg_gd = linear_model.LinearRegression()
reg_com = linear_model.LinearRegression()
reg_tao = linear_model.LinearRegression()

In [45]:
reg_ap.fit(ap, sp)
reg_amz.fit(amz, sp)
reg_gd.fit(gd, sp)
reg_com.fit(com, sp)
reg_tao.fit(tao, sp)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

*3b: For each regression, plot the samples and the linear model*

In [47]:
fig_ap = plt.figure()
ax_ap = fig_ap.add_subplot(1,1,1)
plt.scatter(ap, sp, color='darkgrey')
plt.plot(ap, reg_ap.predict(ap),color='darkcyan',linewidth=2)

ax_ap.set_title('Regression Analysis on Daily Returns', fontsize=14, fontweight='bold')
ax_ap.set_xlabel('Apple Inc.')
ax_ap.set_ylabel('SPDR S&P 500')

In [48]:
fig_amz = plt.figure()
ax_amz = fig_amz.add_subplot(1,1,1)
plt.scatter(amz, sp, color='darkgrey')
plt.plot(amz, reg_amz.predict(amz),color='darkcyan',linewidth=2)

ax_amz.set_title('Regression Analysis on Daily Returns', fontsize=14, fontweight='bold')
ax_amz.set_xlabel('Amazon.com, Inc.')
ax_amz.set_ylabel('SPDR S&P 500')

In [49]:
fig_gd = plt.figure()
ax_gd = fig_gd.add_subplot(1,1,1)
plt.scatter(gd, sp, color='darkgrey')
plt.plot(gd, reg_gd.predict(gd),color='darkcyan',linewidth=2)

ax_gd.set_title('Regression Analysis on Daily Returns', fontsize=14, fontweight='bold')
ax_gd.set_xlabel('iShares Gold Trust')
ax_gd.set_ylabel('SPDR S&P 500')

In [50]:
fig_com = plt.figure()
ax_com = fig_com.add_subplot(1,1,1)
plt.scatter(com, sp, color='darkgrey')
plt.plot(com, reg_com.predict(com),color='darkcyan',linewidth=2)

ax_com.set_title('Regression Analysis on Daily Returns', fontsize=14, fontweight='bold')
ax_com.set_xlabel('iShares US Telecommunications')
ax_com.set_ylabel('SPDR S&P 500')

In [51]:
fig_tao = plt.figure()
ax_tao = fig_tao.add_subplot(1,1,1)
plt.scatter(tao, sp, color='darkgrey')
plt.plot(tao, reg_tao.predict(tao),color='darkcyan',linewidth=2)

ax_tao.set_title('Regression Analysis on Daily Returns', fontsize=14, fontweight='bold')
ax_tao.set_xlabel('Guggenheim China Real Estate ETF')
ax_tao.set_ylabel('SPDR S&P 500')

*3c: Calculate and display the intercept, coefficient, R^2, and Mean Squared Error.*

In [73]:
reg_results = pd.DataFrame(index = ['R-squared', 'Intercept', 'Coefficient', 'MSE'])

In [74]:
reg_results['AAPL'] = reg_ap.score(ap, sp), reg_ap.intercept_, reg_ap.coef_, mean_squared_error(ap, sp)

In [75]:
reg_results['AMZN'] = reg_amz.score(amz, sp), reg_amz.intercept_, reg_amz.coef_, mean_squared_error(amz, sp)

In [76]:
reg_results['IAU'] = reg_gd.score(gd, sp), reg_gd.intercept_, reg_gd.coef_, mean_squared_error(gd, sp)

In [77]:
reg_results['IYZ'] = reg_com.score(com, sp), reg_com.intercept_, reg_com.coef_, mean_squared_error(com, sp)

In [78]:
reg_results['TAO'] = reg_tao.score(tao, sp), reg_tao.intercept_, reg_tao.coef_, mean_squared_error(tao, sp)

In [79]:
reg_results

                 AAPL      AMZN       IAU       IYZ       TAO
R-squared    0.325956  0.228660  0.125816  0.520806  0.384467
Intercept    0.000302  0.000281  0.000546  0.000023  0.000411
Coefficient  0.319776  0.214920 -0.284773  0.490412  0.421980
MSE          0.000146  0.000260  0.000234  0.000071  0.000091

*3d: Which asset is highly correlated with the S&P 500 and which asset is the least correlated?*

In [80]:
reg_results = reg_results.sort_values('R-squared', axis = 1, ascending = False)
reg_results
#rank according to R-squared descendingly.

                  IYZ       TAO      AAPL      AMZN       IAU
R-squared    0.520806  0.384467  0.325956  0.228660  0.125816
Intercept    0.000023  0.000411  0.000302  0.000281  0.000546
Coefficient  0.490412  0.421980  0.319776  0.214920 -0.284773
MSE          0.000071  0.000091  0.000146  0.000260  0.000234

Based on the value of R-squared, among the five assets, IYZ is the most correlated with S&P 500 and IAU is the least correlated.